.parallax-window {
    width: 100%;
    margin: 0 auto;
    height: 1500px;
    z-index: 0;
}

.overlay {
    min-height: 500px;  
    padding: 50px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.speechcontainer {
   width: 400px;
   height: 300px;
   float: left;
   margin-top: 15%;
    
}

.video-position2 {
    margin-left: 9.5%;
    padding-top: 20%;  
}

.calandercontainer {
   width: 66%;
   height: 40%;
   margin-left: 11.6%;
    
}

.circlecontainer1 {
    margin-left: 16.2%;
    margin-top: 23.1%;
    width: 12%;
    height: 15%;  
}



.circlecontainer2 {
    margin-left: 80.8%;
    margin-top: 6.1%;
    width: 12%;
    height: 23%;  
}

.circlecontainer3 {
    margin-left: 22.2%;
    margin-top: 35.5%;
    width: 8%;
    height: 12%;  
}

.image-width {
   margin-left: 20%;
   padding-top: 8%;
}

.selected { /*Class toggled on and off --> */
    background: white;
    border: 2px solid black;
}

#mainImage {
   margin-left: 20%;

   width: 60%;   
   height: 66%;
}

.circle {
    border-radius: 200px;
    float: left;
    margin: 10px;
    height: 120px;
    width: 120px;  
    transition: all 1s;
}

.circle:hover {
    opacity: 0.0;   
}

.audiocontainer {
    padding-left: 941px;
    padding-top: 760px;   
}
 /* TITLE ANIMATION*/

body {
  font-family: monospace;
  font-size: 18px;
  background: white;
  color: #666;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.titlecontainer {
  max-width: 70%;
  margin: 0 auto;
  padding: 5%;
  padding-top: 400px;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

/* END OF ANIMATION  */

.overlay-black {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.overlay-white {
    background: rgba(255, 255, 255, 0.5);  
    color: #000;
}

clearfix {
    clear: both;
}




.image-width {
    width: 100%;     
}

.page{
    position: relative;
    width: 25%;
    margin-top: -200px;
    margin-left: 318px;
    z-index: 4;
}

.click{
    position: relative;
    height: 78px;
    width:  374px;
    background-color: none;
    margin-top: -15px;
    margin-left: 314px;
}

#tin{
    position: relative;
    margin-left: 50%;
    z-index: 1;
    top: -1009px;
}

#text{
    position: relative;
    margin-left: 62%;
    z-index: 0;
    top: 70px;
}
.face{
    z-index: 1;
}
#chat{
    z-index:2;
}


/*ATTEMPT */


.clearfix { /* Makes box go underneath when declared in div? */
 clear: both;   
    
}


/* How it looks when selected */
.selected { 
   background: none;
   opacity: 0;
}

.video-position {
    position: relative;
    padding-left: 22%;
    padding-top: 30%;
}

#themainVideo {
    position: relative;
    margin-left: 26px;
    margin-top: 164px;
    
}
