.parallax-window {
    width: 100%;
    margin: 0 auto;
    height: 1500px;
}

.overlay {
    min-height: 500px;  
    padding: 50px;
}

.container {
    position: absolute;
    max-width: 100%;
    margin: 0 auto;
}

.overlay-black {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

.overlay-white {
    background: rgba(255, 255, 255, 0.5);  
    color: #000;
}

clearfix {
    clear: both;
}


.image-width {
    width: 100%;     
}
#tin{
    position: relative;
    margin-left: 50%;
    z-index: 1;
    top: -1009px;
}

#text{
    position: relative;
    margin-left: 62%;
    z-index: 3;
    top: 70px;
}
